%h3 Notes
%hr

  - for note in @notes
    .note
      .note-date= Time.at(note.published_date).strftime("%d %b %Y")
      %h4
        %a{ 'href' => "#{note.title_href}"}
          != note.title
      -if !note.content.blank?
        .note-content!= note.content
      -if !note.tags.empty?
        .note-tags
          - for tag in note.tags
            =link_to tag.name, :controller => 'tags', :action => 'show', :id => tag.id

  = will_paginate @notes
