!!! 5
%html
  %head
    %title Reader Recovery
    %link{ 'href' => 'http://fonts.googleapis.com/css?family=Ubuntu|Cardo', 'rel' => 'stylesheet', 'type' => 'text/css'} 
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 Reader | recoverY
    %h2 Get your Google Reader items back

    = render 'shared/nav_menu'

    %section
      = yield
